.navbar {
  width: 90%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 999999999;
}
.item {
  width: 803px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.item_link {
  color: #fff;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.btn {
  width: 230px;
  height: 50px;
  color: #272727;
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  border: 1px solid #c8c8c8;
}
.btn_two {
  width: 230px;
  height: 50px;
  color: #fff;
  background: hsla(0, 0%, 100%, 0.1);
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
